$background: #fff;
$font: #333;
$visited: #aaa;
$current: #b50000;
$next: #ff4141;

.guided-tour {
    overflow: hidden;
}

.guided-tour-step {
    display: none;
    text-rendering: optimizespeed;
    font-family: "Open Sans", Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
    font-size: 12pt;
    color: $font;

    &.active {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1024;
        pointer-events: all;

        .guided-tour-step-highlight {
            position: absolute;
            box-sizing: border-box;
            border-radius: 4px;
            box-shadow: 0 0 0 999em rgba(0, 0, 0, 0.5);
            z-index: 1;
        }

        .guided-tour-step-tooltip {
            position: absolute;
            padding: 32px 32px 28px 32px;
            margin: 16px 0;
            z-index: 2;
            background-color: $background;
            max-width: 400px;
            border-radius: 5px;
            box-sizing: border-box;
            box-shadow: 0 0 8px -4px #000;
            transition: opacity 150ms;

            // @media screen and (max-width: 767px) {
            //     left: 0! important;
            //     right: 0! important;
            // }
            .guided-tour-arrow {
                position: absolute;
                border-top: 8px solid transparent;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-bottom: 8px solid transparent;
                margin-left: -8px;
                margin-top: -8px;
            }

            &.guided-tour-arrow-none {
                .guided-tour-arrow {
                    display: none
                }
            }

            &.guided-tour-arrow-top {
                .guided-tour-arrow {
                    border-bottom-color: $background;
                    margin-top: -16px;
                    top: 0;
                }
            }

            &.guided-tour-arrow-bottom {
                .guided-tour-arrow {
                    border-top-color: $background;
                    margin-bottom: -16px;
                    bottom: 0;
                }
            }

            &.guided-tour-center {
                transform: translate(-50%, -50%);
            }

            .guided-tour-step-image {
                img {
                    width: 100%;
                    height: auto;
                    border-radius: 4px;
                    margin-bottom: 28px;
                }
            }

            .guided-tour-step-title {
                font-weight: bold;
                margin-bottom: 1em;
            }

            .guided-tour-icon {
                display: inline-block;
                overflow: hidden;
            }

            .guided-tour-step-button {
                flex-direction: column;
                justify-content: center;
                /* <-- actual veertical align */
                display: inline-flex;
                text-align: center;
                cursor: pointer;
                .guided-tour-icon {
                    align-self: center;
                }
            }

            .guided-tour-step-button-next,
            .guided-tour-step-button-complete {
                border: 2px solid currentColor;
                box-shadow: 5px 0 1em 0 rgba(0, 0, 0, 0.4);
                width: 48px;
                height: 48px;
                background: $background;
                border-radius: 50%;
                position: absolute;
                margin-top: -24px;
                right: -30px;
                top: 50%;
            }

            .guided-tour-step-button-next {
                color: $next;
            }

            .guided-tour-step-button-complete {
                color: $current;
            }

            .guided-tour-step-button-close {
                position: absolute;
                top: 0;
                right: 0;
                width: 32px;
                height: 32px;
            }

            .guided-tour-step-footer-bullets {
                text-align: center;
                line-height: 16px;

                ul {
                    margin: 10px 0 -18px 0;
                    list-style: none;
                    padding: 0;

                    li {
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        padding: 0;
                        display: inline-block;
                        background-color: $next;
                        border: 8px solid $background;
                        cursor: pointer;

                        &.complete {
                            background-color: $visited;
                        }

                        &.current {
                            background-color: $current;
                        }

                        &:last-of-type {
                            margin-right: 0
                        }
                    }
                }
            }
        }
    }
}