$overlay: var(--tourguide-overlay);
$background: var(--tourguide-background);
$bullet: var(--tourguide-bullet);
$bullet-visited: var(--tourguide-bullet-visited);
$bullet-current: var(--tourguide-bullet-current);
$button-close: var(--tourguide-step-button-close);
$button-next: var(--tourguide-step-button-next);
$button-prev: var(--tourguide-step-button-prev);
$button-complete: var(--tourguide-step-button-complete);
$fontColor: var(--tourguide-text-color);
$fontFamily: var(--tourguide-font-family);
$fontSize: var(--tourguide-font-size);
$tooltipMinWidth: var(--tourguide-tooltip-width);
$focusColor: var(--tourguide-focus-color);

// .guided-tour {
// overflow: hidden;
// position: relative !important;
:host {
  position: absolute;
  overflow: visible;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  box-sizing: border-box;
  line-height: 1.4;
  text-align: left;
  text-rendering: optimizespeed;
  font-family: $fontFamily;
  font-size: $fontSize;
  color: $fontColor;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
}

* {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-width: 0;
  border-style: none;
  border-color: currentColor;
  box-shadow: none;
  color: inherit;
  appearance: none;
  font-size: inherit;
  font-weight: inherit;
}

button {
  cursor: pointer;
  &:hover,
  &:focus {
    outline: 5px auto $focusColor;
  }
}

.guided-tour-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: $overlay;

  &.active {
    display: block;
  }
}

// .guided-tour-target {
//   z-index: 1025;
// }

.guided-tour-step {
  display: none;

  &.active {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: all;

    .guided-tour-step-highlight {
      position: absolute;
      box-sizing: border-box;
      border-radius: 4px;
      box-shadow: 0 0 0 999rem $overlay;
      z-index: 1;
    }

    .guided-tour-step-tooltip {
      position: absolute;
      margin: 16px 0;
      z-index: 2;
      background-color: $background;
      // min-width: 280px;
      width: $tooltipMinWidth;
      max-width: max-content;
      border-radius: 5px;
      box-sizing: border-box;
      box-shadow: 0 0 8px -4px #000;
      transition: opacity 150ms;

      @media screen and (max-width: 760px) {
        max-width: 85vw;
        // max-width: unset;
        // min-width: unset;
        // width: calc(100% - 64px);
        // left: 32px !important;
        // right: 32px !important;
      }

      .guided-tour-step-tooltip-inner {
        // position: relative;
        // padding: 32px 32px 28px 32px;
        // display: block;

        .guided-tour-arrow {
          position: absolute;
          background: transparent;
        }

        .guided-tour-step-content-container {
          display: flex;
          flex-direction: column;

          @media screen and (min-width: 760px) {
            &.step-layout-horizontal {
              flex-direction: row;

              .guided-tour-step-content-wrapper {
                flex: 1 1 auto;
              }

              .guided-tour-step-image {
                width: 50%;
                margin-bottom: calc((1rem + 24px) * -1);
                flex: 0 0 auto;

                img {
                  border-radius: 4px 0 0 4px;
                  height: 100%;
                  object-fit: cover;
                }
              }
            }
          }
        }

        .guided-tour-step-image {
          img {
            width: 100%;
            height: auto;
            border-radius: 4px 4px 0 0;
          }
        }

        .guided-tour-step-content-wrapper {
          margin: 1.5rem 2rem;
        }

        .guided-tour-step-title {
          font-size: 1.3rem;
          font-weight: bold;
          margin-bottom: 1rem;
        }

        .guided-tour-step-content {

          b,
          strong {
            font-weight: bold;
          }

          i, em {
            font-style: italic;
          }

          a {
            cursor: pointer;
            text-decoration: underline;
          }

          mark {
            background: inherit;
            text-shadow: 0px 2px 4px #ff0;
          }

          code,
          dfn {
            padding: 1px 6px 1px 4px;
            border-radius: 4px;
          }

          code {
            background-color: #f0f0f0;
            color: #e83e8c;
            font-family: monospace;
            font-size: 87.5%;
            word-break: break-word;
          }

          dfn {
            font-style: italic;
            background-color: #ffc6e5;
          }

          p,
          ul,
          ol,
          blockquote {
            margin: 1rem 0;
          }

          blockquote {
            padding-left: 1em;
            border-left: 4px solid silver;
          }

          ul,
          ol {
            padding-left: 1.5rem;

            li {
              margin: .3rem 0;
            }
          }
        }

        .guided-tour-icon {
          display: inline-block;
          overflow: hidden;
        }

        .guided-tour-step-button {
          flex-direction: column;
          justify-content: center;
          /* <-- actual veertical align */
          display: inline-flex;
          text-align: center;
          cursor: pointer;

          .guided-tour-icon {
            align-self: center;
          }
        }

        .guided-tour-step-button-close {
          position: absolute;
          top: 0;
          right: 0;
          width: 32px;
          height: 32px;
          color: $button-close;
        }

        .guided-tour-step-button-prev,
        .guided-tour-step-button-next,
        .guided-tour-step-button-complete {
          width: 48px;
          height: 48px;
          // border: 2px solid currentColor;
          background: $background;
          border-radius: 50%;
          margin-top: -24px;
          position: absolute;
        }

        .guided-tour-step-button-prev {
          color: $button-prev;
          // box-shadow: -5px 0 1rem 0 rgba(0, 0, 0, 0.4);
          left: 0;
          transform: translateX(-50%);
          top: 50%;
        }

        .guided-tour-step-button-next {
          color: $button-next;
          // box-shadow: 5px 0 1rem 0 rgba(0, 0, 0, 0.4);
          right: 0;
          transform: translateX(50%);
          top: 50%;
        }

        .guided-tour-step-button-complete {
          color: $button-complete;
          // box-shadow: 5px 0 1rem 0 rgba(0, 0, 0, 0.4);
          right: 0;
          transform: translateX(50%);
          top: 50%;
        }

        .guided-tour-step-footer {}

        .guided-tour-step-bullets {
          text-align: center;
          line-height: 16px;

          ul {
            list-style: none;
            margin: 0 1rem 1rem;

            li {
              display: inline-block;

              button {
                width: 8px;
                height: 8px;
                border-radius: 50%;
                display: inline-block;
                background-color: $bullet;
                border: 8px solid $background;
                box-sizing: content-box;
                cursor: pointer;

                &.complete {
                  background-color: $bullet-visited;
                }

                &.current {
                  background-color: $bullet-current;
                }
              }
            }
          }
        }
      }

      &.guided-tour-arrow-none {
        .guided-tour-step-tooltip-inner {
          .guided-tour-arrow {
            display: none;
          }
        }
      }

      &.guided-tour-arrow-top {
        .guided-tour-step-tooltip-inner {
          .guided-tour-arrow {
            top: 0;
            margin-top: -18px;

            .guided-tour-arrow-inner {
              width: 18px;
              height: 18px;
              position: relative;
              overflow: hidden;
              background: transparent;

              &::after {
                content: "";
                position: absolute;
                width: 12px;
                height: 12px;
                background: $background;
                transform: rotate(225deg);
                top: 13px;
                left: 4px;
                box-shadow: 1px 1px 6px -3px #000;
              }
            }
          }
        }
      }

      &.guided-tour-arrow-bottom {
        .guided-tour-step-tooltip-inner {
          .guided-tour-arrow {
            margin-bottom: -18px;
            bottom: 0;

            .guided-tour-arrow-inner {
              width: 18px;
              height: 18px;
              position: relative;
              overflow: hidden;
              background: transparent;

              &::after {
                content: "";
                position: absolute;
                width: 12px;
                height: 12px;
                background: $background;
                transform: rotate(45deg);
                top: -6px;
                left: 4px;
                box-shadow: 1px 1px 6px -3px #000;
              }
            }
          }
        }
      }
    }
  }
}

// }