$overlay: var(--tourguide-overlay-color);
$background: var(--tourguide-background-color);
$bullet: var(--tourguide-bullet-color);
$bullet-visited: var(--tourguide-bullet-visited-color);
$bullet-current: var(--tourguide-bullet-current-color);
$button-close: var(--tourguide-step-button-close-color);
$button-next: var(--tourguide-step-button-next-color);
$button-prev: var(--tourguide-step-button-prev-color);
$button-complete: var(--tourguide-step-button-complete-color);
$focusColor: var(--tourguide-focus-color);
$accentColor: var(--tourguide-accent-color);
$fontColor: var(--tourguide-text-color);
$fontFamily: var(--tourguide-font-family);
$fontSize: var(--tourguide-font-size);
$tooltipMinWidth: var(--tourguide-tooltip-width);

// .guided-tour {
// overflow: hidden;
// position: relative !important;
:host {
  position: absolute;
  overflow: visible;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  box-sizing: border-box;
  line-height: 1.4;
  text-align: left;
  text-rendering: optimizespeed;
  font-family: $fontFamily;
  font-size: $fontSize;
  color: $fontColor;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
}

* {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-width: 0;
  border-style: none;
  border-color: currentColor;
  box-shadow: none;
  color: inherit;
  appearance: none;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
}

a,
button {
  cursor: pointer;

  &:hover,
  &:focus {
    outline: 5px auto $focusColor;
  }
}

.guided-tour-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: $overlay;

  &.active {
    display: block;
  }
}

// .guided-tour-target {
//   z-index: 1025;
// }

.guided-tour-step {
  display: none;

  &.active {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: all;

    .guided-tour-step-highlight {
      position: absolute;
      box-sizing: border-box;
      border-radius: 4px;
      box-shadow: 0 0 0 999em $overlay;
      z-index: 1;
    }

    .guided-tour-step-tooltip {
      position: absolute;
      margin: 16px 0;
      z-index: 2;
      background-color: $background;
      // min-width: 280px;
      width: $tooltipMinWidth;
      max-width: max-content;
      border-radius: 5px;
      box-sizing: border-box;
      box-shadow: 0 0 3em -0.8em #000;
      transition: opacity 150ms;

      @media screen and (max-width: 760px) {
        max-width: 85vw;
        width: max-content!important;
        // max-width: unset;
        // min-width: unset;
        // width: calc(100% - 64px);
        // left: 32px !important;
        // right: 32px !important;
      }

      .guided-tour-step-tooltip-inner {
        display: flex;
        flex-direction: column;
        height: 100%;
        // position: relative;
        // padding: 32px 32px 28px 32px;
        // display: block;

        .guided-tour-arrow {
          position: absolute;
          width: 1em;
          height: 1em;
          background: $background;
          z-index: -1;
          transform: rotate(45deg);
          pointer-events: none;
        }

        .guided-tour-step-content-container {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          height: calc(100% - 2.6em);

          // @media screen and (min-width: 760px) {
          //   &.step-layout-horizontal {
          //     flex-direction: row;
          //     height: 100%;

          //     .guided-tour-step-content-wrapper {
          //       flex: 1 1 auto;
          //     }

          //     .guided-tour-step-image {
          //       width: 50%;
          //       height: 100%;
          //       overflow: hidden;
          //       margin-bottom: calc((1em + 24px) * -1);
          //       flex: 0 0 auto;

          //       img {
          //         border-radius: 4px 0 0 4px;
          //         height: 100%;
          //         object-fit: cover;
          //         object-position: center;
          //       }
          //     }
          //   }
          // }
        }

        .guided-tour-step-image {
          flex-grow: 1;
          flex-shrink: 1;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            border-radius: 4px 4px 0 0;
            object-fit: cover;
            object-position: center;
          }
        }

        .guided-tour-step-content-wrapper {
          margin: 1.5em 2.5em;
        }

        .guided-tour-step-title {
          font-size: 1.4em;
          // font-weight: bold;
          margin-bottom: .8em;
        }

        .guided-tour-step-content {
          flex-shrink: 0;

          b,
          strong {
            font-weight: bold;
          }

          i,
          em {
            font-style: italic;
          }

          a {
            cursor: pointer;
            text-decoration: underline;
            color: $accentColor;
          }

          mark {
            background: inherit;
            text-shadow: 0px 2px 4px #ff0;
          }

          code,
          dfn {
            padding: 1px 6px 1px 4px;
            border-radius: 4px;
          }

          code {
            background-color: #f0f0f0;
            color: #e83e8c;
            font-family: monospace;
            font-size: 87.5%;
            word-break: break-word;
          }

          dfn {
            font-style: italic;
            background-color: #ffc6e5;
          }

          p,
          ul,
          ol,
          blockquote {
            margin: 1em 0;

            &:last-child {
              margin-bottom: 0;
            }
          }

          blockquote {
            padding-left: 1em;
            border-left: 4px solid silver;
          }

          ul,
          ol {
            padding-left: 1.5em;

            li {
              margin: .3em 0;
            }
          }
        }

        .guided-tour-step-actions {
          display: flex;
          column-gap: .5em;
          margin-top: 1.5em;
          justify-content: end;

          .button {
            color: $accentColor;
            padding: 0.5em 1em;

            &.primary {
              background: $accentColor;
              padding: 0.5em 1.5em;
              color: #fff;
              border-radius: 4px;

              &:hover,
              &:focus {
                filter: brightness(120%);
              }
            }
          }
        }

        .guided-tour-icon {
          display: inline-block;
          overflow: hidden;
        }

        .guided-tour-step-button {
          flex-direction: column;
          justify-content: center;
          /* <-- actual veertical align */
          display: inline-flex;
          text-align: center;
          cursor: pointer;

          .guided-tour-icon {
            align-self: center;
          }
        }

        .guided-tour-step-button-close {
          position: absolute;
          top: 0;
          right: 0;
          width: 2em;
          height: 2em;
          color: $button-close;
        }

        .guided-tour-step-button-prev,
        .guided-tour-step-button-next,
        .guided-tour-step-button-complete {
          width: 3em;
          height: 3em;
          // border: 2px solid currentColor;
          background: $background;
          border-radius: 50%;
          margin-top: -1.5em;
          position: absolute;
        }

        .guided-tour-step-button-prev {
          color: $button-prev;
          // box-shadow: -5px 0 1em 0 rgba(0, 0, 0, 0.4);
          left: 0;
          transform: translateX(-50%);
          top: 50%;
        }

        .guided-tour-step-button-next {
          color: $button-next;
          // box-shadow: 5px 0 1em 0 rgba(0, 0, 0, 0.4);
          right: 0;
          transform: translateX(50%);
          top: 50%;
        }

        .guided-tour-step-button-complete {
          color: $button-complete;
          // box-shadow: 5px 0 1em 0 rgba(0, 0, 0, 0.4);
          right: 0;
          transform: translateX(50%);
          top: 50%;
        }

        .guided-tour-step-footer {
          flex-shrink: 0;
          flex-grow: 0;
        }

        .guided-tour-step-bullets {
          text-align: center;
          line-height: 16px;

          ul {
            list-style: none;
            margin: 0 1em 1em;

            li {
              display: inline-block;

              button {
                width: 8px;
                height: 8px;
                border-radius: 50%;
                display: inline-block;
                background-color: $bullet;
                border: 8px solid $background;
                box-sizing: content-box;
                cursor: pointer;

                &.complete {
                  background-color: $bullet-visited;
                }

                &.current {
                  background-color: $bullet-current;
                }
              }
            }
          }
        }

        @media screen and (min-width: 760px) {
          &.step-layout-horizontal {
            .guided-tour-step-content-container {
              flex-direction: row;
              height: 100%;

              .guided-tour-step-content-wrapper {
                flex: 1 1 auto;
              }

              .guided-tour-step-image {
                width: 50%;
                margin-bottom: calc((1em + 24px) * -1);
                flex: 0 0 auto;

                img {
                  border-radius: 4px 0 0 4px;
                  height: 100%;
                  object-fit: cover;
                  object-position: center;
                }
              }
            }
          }
        }
      }

      &.guided-tour-arrow-none {
        .guided-tour-step-tooltip-inner {
          .guided-tour-arrow {
            display: none;
          }
        }
      }

      // &.guided-tour-arrow-top {
      //   .guided-tour-step-tooltip-inner {
      //     .guided-tour-arrow {
      //       top: 0;
      //       margin-top: -18px;

      //       .guided-tour-arrow-inner {
      //         width: 18px;
      //         height: 18px;
      //         position: relative;
      //         overflow: hidden;
      //         background: transparent;

      //         &::after {
      //           content: "";
      //           position: absolute;
      //           width: 12px;
      //           height: 12px;
      //           background: $background;
      //           transform: rotate(225deg);
      //           top: 13px;
      //           left: 4px;
      //           box-shadow: 1px 1px 6px -3px #000;
      //         }
      //       }
      //     }
      //   }
      // }

      // &.guided-tour-arrow-bottom {
      //   .guided-tour-step-tooltip-inner {
      //     .guided-tour-arrow {
      //       margin-bottom: -18px;
      //       bottom: 0;

      //       .guided-tour-arrow-inner {
      //         width: 18px;
      //         height: 18px;
      //         position: relative;
      //         overflow: hidden;
      //         background: transparent;

      //         &::after {
      //           content: "";
      //           position: absolute;
      //           width: 12px;
      //           height: 12px;
      //           background: $background;
      //           transform: rotate(45deg);
      //           top: -6px;
      //           left: 4px;
      //           box-shadow: 1px 1px 6px -3px #000;
      //         }
      //       }
      //     }
      //   }
      // }
    }

    // .guided-tour-arrow-none {
    //   [data-popper-arrow] {
    //     display: none;
    //   }
    // }

    // [data-popper-arrow]:before {
    //   content: '';
    //   width: 10px;
    //   height: 10px;
    //   position: absolute;
    //   z-index: -1;
    //   -webkit-transform: rotate(45deg);
    //   -moz-transform: rotate(45deg);
    //   -ms-transform: rotate(45deg);
    //   transform: rotate(45deg);
    //   background: #fff;
    //   top: 0;
    //   left: 0;
    // }

    // [data-popper-placement^='right'] [data-popper-arrow] {
    //   left: -4px;
    // }

    // [data-popper-placement^='left'] [data-popper-arrow] {
    //   right: -4px;
    // }

    // [data-popper-placement^='top'] [data-popper-arrow] {
    //   bottom: 4px;
    // }

    // [data-popper-placement^='bottom'] [data-popper-arrow] {
    //   top: -4px;
    // }
  }
}

// }